* {
    box-sizing: border-box;
}

html,

body 
{
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background:
        radial-gradient(
            circle at 50% 20%,
            #243b4f 0,
            #171d25 45%,
            #101419 100%
        );
    color: #f1f1f1;

}
.header {
    height: 100%;
    background: #171d25;
    border-bottom: 1px solid rgba(255,255,255,.05);
}

.header-inner {
    width: 940px;
    max-width: calc(100% - 40px);
    height: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    gap: 28px;
}
.commentthread_subscribe_check {
	position: absolute;
	display: none;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	background: url( 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNpi/P//PwMlgIVcjcGLD70H0UzkaA6cv/cpkBIgywC/mdvOMLGwSsHMIskA145FM1m5eIxB7B+Pnz9YG2t3gGgDrArbi/mkFdJA7J+fPxzYWhWuSLQXlF0CfSUMLOtB7H9/fj87NaW+ESaHYoBJelWaXdWkBnQDdMIzehiZmHhB7Du71pS8unb+AFYD5G08ZopqGtQ7Nc3uZWRkBPvVa9K6TSwcnGog9uvrFxovL5++HFkPI3JC8p+98yayYhANMhBEf3//ZvP2/OBGoPqzOA1AN+T/v3+fQU7/8+P7reP9FenITsfqBRAAKQRpAJsO1Awy5MrKGSXYNGN1AQwELTzwCWTA83NHS471V/biiiFGSjMTEwOFgGIDAAIMAKHJfj735eNRAAAAAElFTkSuQmCC' ) no-repeat center;
}
.commentthread_comment_friendindicator {
	position: absolute;
	left: 33px;
	top: 24px;
	background-image: url( 'https://community.fastly.steamstatic.com/public/images/skin_1/comment_friendindicator_small.png' );
	width: 20px;
	height: 20px;
	z-index: 2;

	cursor: pointer;
}
.commentthread_subscribe_ctn.checked .commentthread_subscribe_check {
	display: block;
}

.commentthread_subscribe_ctn.waiting .commentthread_subscribe_check {
	display: block;
	background-image: url( 'https://community.fastly.steamstatic.com/public/images/login/throbber.gif' );
	background-size: contain;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #73e45c;
    white-space: nowrap;
}
.page-button{
    justify-content: center;
    width: 300px;
    height: 44px;
    border: 1px solid #777;
    border-radius: 3px;

    background: linear-gradient(
        to right,
        #2e4e61,
        #213e74
    );
    font-size: 13px;

    cursor: pointer;
}
.login-button {
    width: 300px;
    height: 44px;

    border: none;
    border-radius: 3px;

    background: linear-gradient(
        to right,
        #66c7ff,
        #4083ff
    );

    color: rgb(255, 255, 255);

    font-size: 16px;

    cursor: pointer;
}

.login-button:hover {
    justify-content: center;
    filter: brightness(1.1);
}

.demo-warning {
    margin-top: 15px;

    color: #f1f1f1;
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
}

.help {
    display: block;

    margin-top: 25px;

    text-align: center;

    color: #66c0f4;
    font-size: 13px;
}
.register {
    width: 270px;
    margin-top: 60px;
    text-align: center;
}

.register h2 {
    color: white;
    font-size: 18px;
    font-weight: normal;
}

.register p {
    color: #aaa;
    font-size: 13px;
    line-height: 1.6;
}

.register-button {
    padding: 10px 25px;

    border: 1px solid #777;
    border-radius: 3px;

    background: transparent;
    color: white;

    cursor: pointer;
}

.register-button:hover {
    background: rgba(255,255,255,.08);
    justify-content: center;
}
footer {
    min-height: 65px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    background: #101318;

    color: #777;
    font-size: 11px;
}
.login-window {
    flex: center;
    justify-content: center;
    width: 420px;
    padding: 35px;
    
    background: #1b2838;

    border-radius: 8px;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.5);

    color: white;

    text-align: center;
    
}
.install-btn{
    background-color: #348524;
    color: #f1f1f1;
    
}
